.main-container {
  display: flex;
  flex-direction: column;
}

body,
html {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
body {
  background: #fde3a7;
}

.nameLabel {
  justify-content: flex-end;
}

/* Old paper background */
body {
  background: #112 url(https://st.depositphotos.com/2086879/2449/i/600/depositphotos_24493081-stock-photo-old-paper.jpg) center
    no-repeat;
  background-size: cover;
  margin: 0;
}

.card-image {
  img.slide {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 100vh;
  }
}
